a button {
    @media (max-width: 991px) {
        margin-bottom: 20px;
    }

    @media(max-width: 575px) {
        margin-bottom: 0px;
    }
}

.home img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 9999px;
    image-rendering: auto;
    padding: 3px;
}

html[data-theme='dark'] .home img {
    background-color: rgb(159, 159, 159);
    
}

.card-head {
    min-height: 250px;
}